{
  "$schema": "https://opencode.ai/config.json",
  "mcp": {
    "tavily": {
      "type": "remote",
      "url": "https://mcp.tavily.com/mcp/?tavilyApiKey={{ (keepassxc "tavily-api-key").Password }}"
    },
    "ref": {
      "type": "remote",
      "url": "https://api.ref.tools/mcp?apiKey={{ (keepassxc "ref-api-key").Password }}"
    },
    "sequential-thinking": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "@modelcontextprotocol/server-sequential-thinking"
      ]
    },
    "filesystem": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "@modelcontextprotocol/server-filesystem",
        "/home/inthevortex/Code",
        "/home/inthevortex/Downloads",
        "/home/inthevortex/Documents"
      ]
    },
    "github": {
      "type": "remote",
      "url": "https://api.githubcopilot.com/mcp",
      "headers": {
        "Authorization": "Bearer {{ (keepassxc "gh_cr_pat").Password }}"
      }
    },
    "sentry": {
      "type": "local",
      "command": [
        "uvx",
        "mcp-server-sentry",
        "--auth-token",
        "{{ (keepassxc "sentry-token").Password }}"
      ]
    },
    "package-registry": {
      "type": "local",
      "command": ["npx", "-y", "package-registry-mcp"]
    }
    // "playwright": {
    //   "type": "local",
    //   "command": ["npx", "@playwright/mcp@latest"]
    // }
  },
  "plugin": ["opencode-gemini-auth@latest", "oh-my-opencode@latest"]
}
