# Oh-My-Zsh & Plugins
export ZSH=$HOME/.oh-my-zsh
ZSH_THEME=""
plugins=(git docker docker-compose git-extras archlinux command-not-found dotnet gh poetry podman pip python bun celery chezmoi eza fzf fzf-tab golang helm node npm nvm snap ssh starship sudo systemd tldr tmux uv vscode z bgnotify zsh-autosuggestions zsh-syntax-highlighting)
source $ZSH/oh-my-zsh.sh

# Imports
source "$HOME/.config/zsh/exports.zsh"
source "$HOME/.config/zsh/aliases.zsh"
source "$HOME/.config/zsh/functions.zsh"

# Secrets
if [[ -f "$HOME/.zsecrets" ]]; then
    source "$HOME/.zsecrets"
fi

# CLI Tools Init
if command -v starship &> /dev/null; then
    eval "$(starship init zsh)"
fi

if command -v zoxide &> /dev/null; then
    eval "$(zoxide init zsh)"
fi

if command -v fzf &> /dev/null; then
    eval "$(fzf --zsh)"
fi
