# Github
export CR_PAT="{{ (keepassxc "gh_cr_pat").Password }}"
export CR_E_PAT="{{ (keepassxc "gh_e_cr_pat").Password }}"

# Openrouter
export OPENROUTER_API_KEY={{ (keepassxc "openrouter_api_key").Password }}
