[general]
live_config_reload = true

[bell]
animation = "EaseOutExpo"

[cursor]
unfocused_hollow = true
vi_mode_style = "None"

[cursor.style]
blinking = "Off"
shape = "Block"

[env]
TERM = "alacritty"

[font]
{{- if eq .chezmoi.os "darwin" }}
size = 13.0
{{- else }}
size = 10.0
{{- end }}

[font.bold]
family = "JetBrainsMono Nerd Font"
style = "Bold"

[font.bold_italic]
family = "JetBrainsMono Nerd Font"
style = "Bold Italic"

[font.italic]
family = "JetBrainsMono Nerd Font"
style = "Italic"

[font.normal]
family = "JetBrainsMono Nerd Font"
style = "Regular"

[hints]
alphabet = "jfkdls;ahgurieowpq"

[[hints.enabled]]
{{- if eq .chezmoi.os "darwin" }}
command = "open"
{{- else if eq .chezmoi.os "windows" }}
command = "explorer.exe"
{{- else }}
command = "xdg-open"
{{- end }}
hyperlinks = true
post_processing = true
persist = false
mouse.enabled = true
mouse.mods = "Control"
binding = { key = "U", mods = "Control|Shift" }
regex = "(mailto:|https:|http:|news:|file:|git:|ssh:|ftp:)[^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`]+"

# --- Keybindings ---
{{- $mod := "Control" }}
{{- if eq .chezmoi.os "darwin" }}
{{- $mod = "Command" }}
{{- end }}

[[keyboard.bindings]]
action = "ScrollPageUp"
key = "PageUp"
mode = "~Alt"
mods = "Shift"

[[keyboard.bindings]]
action = "ScrollPageDown"
key = "PageDown"
mode = "~Alt"
mods = "Shift"

[[keyboard.bindings]]
action = "ScrollToTop"
key = "Home"
mode = "~Alt"
mods = "Shift"

[[keyboard.bindings]]
action = "ScrollToBottom"
key = "End"
mode = "~Alt"
mods = "Shift"

[[keyboard.bindings]]
action = "ToggleViMode"
key = "Space"
mode = "~Search"
mods = "{{ $mod }}|Shift"

[[keyboard.bindings]]
action = "SearchCancel"
key = "Escape"
mode = "Search"

[[keyboard.bindings]]
action = "SearchCancel"
key = "C"
mode = "Search"
mods = "Control"

[[keyboard.bindings]]
action = "SearchClear"
key = "U"
mode = "Search"
mods = "Control"

[[keyboard.bindings]]
action = "Copy"
key = "C"
mods = "{{ $mod }}|Shift"

[[keyboard.bindings]]
action = "SearchForward"
key = "F"
mode = "~Search"
mods = "{{ $mod }}|Shift"

[[keyboard.bindings]]
action = "SearchBackward"
key = "B"
mode = "~Search"
mods = "{{ $mod }}|Shift"

[[keyboard.bindings]]
action = "ResetFontSize"
key = "Key0"
mods = "{{ $mod }}"

[[keyboard.bindings]]
action = "IncreaseFontSize"
key = "Plus"
mods = "{{ $mod }}"

[[keyboard.bindings]]
action = "DecreaseFontSize"
key = "Minus"
mods = "{{ $mod }}"

[[keyboard.bindings]]
action = "CreateNewWindow"
key = "T"
mods = "{{ $mod }}|Shift"

[mouse]
hide_when_typing = true

[scrolling]
history = 0

[selection]
save_to_clipboard = true
semantic_escape_chars = ",│`|:\"' ()[]{}<>\t"

[terminal]
{{- if eq .chezmoi.os "windows" }}
shell = { program = "wsl.exe", args = ["-d", "Debian", "-e", "tmux", "new-session", "-A", "-s", "general"] }
{{- else }}
shell = { program = "tmux", args = ["new-session", "-A", "-s", "general"] }
{{- end }}

[window]
decorations = "None"
decorations_theme_variant = "Dark"
dynamic_title = true
opacity = 0.65
startup_mode = "Maximized"
title = "Alacritty"
blur = true

[window.class]
general = "Alacritty"
instance = "Alacritty"

[window.padding]
x = 10
y = 10

# --- Theme: Catppuccin Macchiato ---
[colors.primary]
background = "#24273A"
foreground = "#CAD3F5"
dim_foreground = "#CAD3F5"
bright_foreground = "#CAD3F5"

[colors.cursor]
text = "#24273A"
cursor = "#F4DBD6"

[colors.vi_mode_cursor]
text = "#24273A"
cursor = "#B7BDF8"

[colors.search.matches]
foreground = "#24273A"
background = "#A5ADCB"

[colors.search.focused_match]
foreground = "#24273A"
background = "#A6DA95"

[colors.hints.start]
foreground = "#24273A"
background = "#EED49F"

[colors.hints.end]
foreground = "#24273A"
background = "#A5ADCB"

[colors.selection]
text = "#24273A"
background = "#F4DBD6"

[colors.normal]
black = "#494D64"
red = "#ED8796"
green = "#A6DA95"
yellow = "#EED49F"
blue = "#8AADF4"
magenta = "#F5BDE6"
cyan = "#8BD5CA"
white = "#B8C0E0"

[colors.bright]
black = "#5B6078"
red = "#ED8796"
green = "#A6DA95"
yellow = "#EED49F"
blue = "#8AADF4"
magenta = "#F5BDE6"
cyan = "#8BD5CA"
white = "#A5ADCB"

[colors.dim]
black = "#494D64"
red = "#ED8796"
green = "#A6DA95"
yellow = "#EED49F"
blue = "#8AADF4"
magenta = "#F5BDE6"
cyan = "#8BD5CA"
white = "#B8C0E0"